.mainFeedImg{
    margin-top: 10px;
    height: 150px;
    width: 100%;
    object-fit: fill;
}

.eventMainPageDiv{
    padding: 5px;
    border: 2px, solid;
    height: auto;
    width: 100%;
    background-color: bisque;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 15px;
}

.mainpostBg{
    background-color: #FDF4F5;
}

.mainpostBg p{
word-wrap: break-word;
}

.eventDateDiv{
    border-right: 2px solid;
}

.locationPNG{
    height: 30px;
}
.eventmainPageBg{
    background-color: rgb(0, 0, 0, 0.6);
    height: 800px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.mainPostDiv{
    border: 2px, solid;
    width: 100%;
    background-color: #F0D9FF;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 15px;
}

.beltImg{
    height: 40px;
    width: 75%;
}

.mainPostEventDiv{
    border: 2px, solid;
    width: 100%;
    background-color: bisque;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 15px;
}

.newBgColor {
    /* trying to figure out which color combination looks good! */
    background-color: #F0D9FF;
}
.custom-container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

@media screen and (max-width: 425px) {
    .mainFeedImg{
        height: 75px;
        width: 98%;
        border-radius: 100%;
    }

    .beltImg{
        height: 50%;
        width: 100%;
    }
  }

  
@media screen and (max-width: 800px) {
    .custom-container{
        max-width: 100%;
    }
  }

  
  .joinToast {
    /* max-height: 50px; */
    max-width: 200px;
    position: fixed;
    top: 30px !important;
    right: 20px !important;
    zIndex: 9999; 
  }