

.styleAccount {

    box-sizing: border-box;
    
    position: absolute;
    width: 622px;
    height: 948px;
    left: 390px;
    top: 38px;
    
    background: #FFFFFF;
    border: 1px solid #000000;


}

.moduleBG{
    background-color: #C1FED2;
}

.editProfileImg{
    height: 350px;
}

.mobileMargin{
    margin-top: 10px;
}

.hideUpload{
    display: none;
}

.uploadText{
    font-size: 20px;
}
.uploadText:hover{
    text-decoration: underline;
    cursor: pointer;
}

.editPostButton{
    height: 15px;
    width: 15px;
}


@media screen and (max-width: 425px)  {
    .editProfileImg{
        height: 250px;
    }
}
