.wrapper {
    position: relative;
    width: 400px;
    height: 560px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.pColor{
    color: aliceblue;
}

.wrapperRegistration {
    position: relative;
    width: 400px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 225, 225, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    color: aliceblue;
}

.form-box h2 {
    font-size: 2em;
    color: #ffffff;
    text-align: center;
}
.form-box h1 {
    font-size: 3em;
    color: #ffffff;
    text-align: center;
}
.form-box h4 {
    color: #ffffff;
}

.input-box {
    position: relative;
    border-bottom: 2px solid rgb(228, 243, 255);
    width: 100%;
    height: 90px;
    
}

.loginBg{
    background: url('../../assets/LoginBG.jpg') no-repeat;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapperRegistration .form-box{
    width: 100%;
    padding: 40px;
}



.backIconDiv:hover{
    text-decoration-style: underline solid;
    background-color: rgb(23, 58, 88);
}

.register{
    cursor: pointer;
    color: blue;
    text-decoration-style: solid;
}

.Buttons {
    width: 100%;
    height: 45px;
    background-color: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: aliceblue;
}

.backIcon{
    position: relative;
    right: 5px;
    width:35px;
    height:30px
}

.backIconDiv{
    cursor: pointer;
    position: absolute;
    top:0;
    right:0;
    background-color: #162938;
    width:45px;
    height:45px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.toast{
    position: absolute;
    top: 42%;
}

@media screen and (max-width: 500px) {
    .wrapper{
        width: 100%;
    }

    .toast{
        left: 7px;
    }
}


.Loading-Div{
    position: absolute;
    width: 100vh;
    height: 100vh;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}