.moduleBG {
    background-color: #C1FED2;
}

.editProfileImg {
    height: 350px;
}

.mobileMargin {
    margin-top: 10px;
}

.hideUpload {
    display: none;
}

.uploadText {
    font-size: 20px;
}

.uploadText:hover {
    text-decoration: underline;
    cursor: pointer;
}

.editPostButton {
    height: 15px;
    width: 15px;
}

.scrollDivtest {
    height: 265px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

.editEventIcon {
    height: 15px;
    width: 15px;
}

.editEventIcon:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #f4d9d9;
}

.editProfileButton {
    height: 20px;
    padding-left: 10px;
}

.centered-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.addFriend {
    width: 50px;
}

.editProfileText {
    font-size: 20px;
}

.postTextDiv {
    display: flex;
    align-items: center;
}

.circle-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.circle-button:hover {
    background-color: #a9d1fb;
}

@media screen and (max-width: 425px) {
    .editProfileImg {
        height: 250px;
    }
}

.joinEvent {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.postEditDev {
    cursor: pointer;
    margin-bottom: -5px;
}